verify logic
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "572603ea-15bf-429a-b386-95871f5fdeac",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "verification-webhook",
      "name": "Webhook (Verification Mode)"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query['hub.verify_token'] }}",
              "value2": "MY_SECRET_TOKEN"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "check-token",
      "name": "Check Verify Token"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        -100
      ],
      "id": "respond-challenge",
      "name": "Return Challenge"
    }
  ],
  "connections": {
    "Webhook (Verification Mode)": {
      "main": [
        [
          {
            "node": "Check Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Verify Token": {
      "main": [
        [
          {
            "node": "Return Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
